@model IEnumerable<self_healthcare.Models.Diet>

@{
    ViewData["Title"] = "Index";
}

<header class="masthead" style="background-image: url('Images/bg5.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>DietsMeals</h1>
                    <span class="subheading">Your base.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Meal => Meal.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inserted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
@foreach (var meal in item.Meal)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inserted)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.DietID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.DietID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.DietID">Delete</a>
        </td>
    </tr>
}
}
    </tbody>
</table>
